.s_blueBox {
    margin-top: 30px;
    height: 45px;
    background-color: var(--primary-dark);
    border-radius: 10px 10px 0 0;
    filter: brightness(1.5);
    font-family: monospace;
}

.s_blueText {
    padding: 15px;
    font-size: 1.2em;
    color: var(--secondary-light);
    text-align: center;
    padding-left: 25px;
}

.s_myQADiv {
    margin-top: 30px;
}